
#define QUICK_TAP_MS 175

// Mod Tap Settings

&mt {
    tapping-term-ms = <150>;
};

// Layer Tap Settings

&lt {  // layer-tap config
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <QUICK_TAP_MS>;
};